/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/

// NOTE: You can't use @extend that break component independent and topdoc parsing.

// internal variables
var-textarea-color = var-input-text-color
var-textarea-border = 1px solid var-input-border-color
var-textarea-padding = 5px 5px 5px 5px
var-textarea-box-shadow = none
var-text-highlight-color = $highlight-color

/*! topdoc
  name: Textarea
  class: textarea
  modifiers:
    :disabled: Disabled state
  markup:
    <textarea class="textarea" rows="3" placeholder="Textarea"></textarea>
  showcase:
*/

.textarea
  reset-box-model()
  reset-base()
  reset-font()
  vertical-align top
  resize none
  outline none
  padding var-textarea-padding
  font-size var-text-input-font-size
  font-weight var-font-weight
  border-radius var-border-radius
  border var-textarea-border
  background-color var-input-bg-color
  color var-textarea-color
  letter-spacing var-letter-spacing
  box-shadow var-textarea-box-shadow
  -webkit-appearance none

.textarea:disabled
  disabled()

.textarea::-webkit-input-placeholder,
.textarea::-moz-placeholder,
.textarea:-ms-input-placeholder
  color var-input-placeholder-color

/*! topdoc
  name: Textarea Transparent
  class: textarea--transparent
  modifiers:
    :disabled: Disabled state
  markup:
    <textarea class="textarea--transparent" rows="3" placeholder="Textarea"></textarea>
  showcase:
*/

.textarea--transparent
  reset-box-model()
  reset-base()
  reset-font()
  vertical-align top
  resize none
  outline none
  padding var-textarea-padding
  padding-left 0
  padding-right 0
  font-size var-text-input-font-size
  font-weight var-font-weight
  border-radius var-border-radius
  border none
  background-color transparent
  color var-textarea-color
  letter-spacing var-letter-spacing
  box-shadow var-textarea-box-shadow
  -webkit-appearance none

.textarea--transparent:disabled
  disabled()

.textarea--transparent::-webkit-input-placeholder,
.textarea--transparent::-moz-placeholder,
.textarea--transparent:-ms-input-placeholder
  color var-input-placeholder-color



/*! topdoc
  name: Material-like Textarea
  use: Textarea Transparent
  markup:
    <div class="textarea--material">
      <textarea rows="3" placeholder="Textarea"></textarea>
      <span class="highlight"></span>
      <span class="bar"></span>
    </div>
*/

.textarea--material
  position relative
  margin 20px auto
  reset-font()

.textarea--material textarea
  font-size var-text-input-font-size
  padding 10px 10px 10px 5px
  display block
  width 100%
  box-sizing border-box
  background transparent
  border none
  border-bottom 1px solid #757575
  resize none
  
.textarea--material textarea:focus
  outline:none
  
.textarea--material textarea:disabled
.textarea--material textarea:disabled ~ label
  disabled()

/* LABEL ======================================= */
.textarea--material label
  color #999 
  font-size 18px
  font-weight normal
  position absolute
  pointer-events none
  left 5px
  top 10px
  transition all 0.2s ease

/* active state */
.textarea--material textarea:focus ~ label, input:valid ~ label
  top -10px
  font-size 14px
  color var-text-highlight-color

/* BOTTOM BARS ================================= */
.textarea--material .bar
  position relative
  display block
  
.textarea--material .bar:before
.bar:after
  content ''
  height 2px 
  width 0
  //bottom 1px 
  position absolute
  background var-text-highlight-color 
  transition all 0.2s ease
  
.textarea--material .bar:before
  left 50%
.textarea--material .bar:after
  right 50% 

/* active state */
.textarea--material textarea:focus ~ .bar:before, textarea:focus ~ .bar:after
  width 50%

/* HIGHLIGHTER ================================== */
.textarea--material .highlight
  position absolute
  height 60% 
  width 100px
  top 25% 
  left 0
  pointer-events none
  opacity 0.5

/* active state */
.textarea--material textarea:focus ~ .highlight
  -webkit-animation inputHighlighter 0.3s ease
  -moz-animation inputHighlighter 0.3s ease
  animation inputHighlighter 0.3s ease

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:var-text-highlight-color; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:var-text-highlight-color; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:var-text-highlight-color; }
  to  { width:0; background:transparent; }
}

